# 默认使用系统mirror安装依赖
registry=https://registry.npmmirror.com/

# 私有包发布到本地registry  
@tiptap:registry=http://registry.fufenxi.com:4873/

# 本地registry认证
//registry.fufenxi.com:4873/:_authToken="fake-token"